
pygecko/gc_tools/peak/__pycache__/

pygecko/gc_tools/sequence/__pycache__/

pygecko/gc_tools/analysis/__pycache__/

pygecko/gc_tools/injection/__pycache__/

pygecko/gc_tools/__pycache__/

.idea/

pygecko/visualization/__pycache__/

pygecko/parsers/__pycache__/

tests/__pycache__/

tests/integration/__pycache__/

jobs/

pygecko/outputs/

tests/integration/.pytest_cache/

pygecko/__pycache__/

pygecko/analysis/__pycache__/

pygecko/data_handling/__pycache__/

pygecko/reaction/__pycache__/

# Ignore local configurations
pygecko/config.ini

# Ignore personal run scripts
run_JWI.py