brain_isotopic_distribution==1.5.14
epam.indigo==1.13.0
lxml==5.1.0
matplotlib==3.6.2
numpy==1.23.5
ord_schema==0.3.37
pandas==2.0.3
pybaselines==1.0.0
pyteomics==4.6.2
rdkit==2023.3.1
reportlab==4.0.5
scipy==1.11.4
statsmodels==0.14.0
xarray==2023.6.0
